@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    /* BIONIX */
    .bg-gradient-green-l {
        @apply bg-gradient-to-l from-green-700 to-lightGreen-200;
    }

    .bg-gradient-green-r {
        @apply bg-gradient-to-r from-green-700 to-lightGreen-200;
    }

    .bg-gradient-green-bl {
        @apply bg-gradient-to-bl from-green-700 to-lightGreen-200;
    }

    .bg-gradient-green-br {
        @apply bg-gradient-to-br from-green-700 to-lightGreen-200;
    }

    /* ICON */
    .bg-gradient-blue-l {
        @apply bg-gradient-to-l from-[#348BB6] to-[#CCE1F0];
    }

    .bg-gradient-blue-r {
        @apply bg-gradient-to-r from-[#348BB6] to-[#CCE1F0];
    }

    .bg-gradient-blue-bl {
        @apply bg-gradient-to-bl from-[#348BB6] to-[#CCE1F0];
    }

    .bg-gradient-blue-br {
        @apply bg-gradient-to-br from-[#348BB6] to-[#CCE1F0];
    }

    /* RISE */
    .bg-gradient-orange-l {
        @apply bg-gradient-to-l from-[#FF9355] to-orange-50;
    }

    .bg-gradient-orange-r {
        @apply bg-gradient-to-r from-[#FF9355] to-orange-50;
    }

    .bg-gradient-orange-bl {
        @apply bg-gradient-to-bl from-[#FF9355] to-orange-50;
    }

    .bg-gradient-orange-br {
        @apply bg-gradient-to-br from-[#FF9355] to-orange-50;
    }

    /* PARADIGM */
    .bg-gradient-purple-l {
        @apply bg-gradient-to-l from-orange-50 to-purple-700;
    }

    .bg-gradient-purple-r {
        @apply bg-gradient-to-r from-orange-50 to-purple-700;
    }

    .bg-gradient-purple-bl {
        @apply bg-gradient-to-bl from-orange-50 to-purple-700;
    }

    .bg-gradient-purple-br {
        @apply bg-gradient-to-br from-orange-50 to-purple-700;
    }
}

/* Toastr Styling Start */
.toast > .toast-title {
    font-size: 26px;
    font-weight: bold;
    color: #FFEEE4;
    margin-left: 20px
}

.toast > .toast-message {
    font-size: 12px;
    font-weight: medium;
    opacity: 80%;
    margin-left: 20px
}

.toast > .toast-message > .btn {
    background-color: #FFEEE4;
    border-radius: 16px;
    font-size: 10px;
    font-weight: medium;
    color: black;
}

#toast-container > .toast-success {
    border-radius: 18.6px;
    position: relative;
    font-family: Montserrat, sans-serif;
    background-color: #006C56;
    background-image: url('/public/images/toastr/success.png'), linear-gradient(to top right, #006C56 0%, #007860 80%,#AFD196) !important;
    background-position: 10px center, center;
    z-index: 9999 !important;
    background-repeat: no-repeat;
}
#toast-container > .toast-error {
    border-radius: 18.6px;
    position: relative;
    font-family: Montserrat, sans-serif;
    background-color: #FF0000;
    background-image: url('/public/images/toastr/error.png'), linear-gradient(to top right, #FF0000 0%, #fd655a 80%, #FF94BD) !important;
    background-position: 10px center, center;
    z-index: 9999 !important;
    background-repeat: no-repeat;
}
#toast-container > .toast-warning {
    border-radius: 18.6px;
    position: relative;
    font-family: Montserrat, sans-serif;
    background-color: #FFA800;
    background-image: url('/public/images/toastr/warning.png'), linear-gradient(to top right, #FFA800 0%, #fbc353 80%, #FFE4AF) !important;
    background-position: 10px center, center;
    z-index: 9999 !important;
    background-repeat: no-repeat;
}
#toast-container > .toast-info {
    border-radius: 18.6px;
    position: relative;
    font-family: Montserrat, sans-serif;
    background-color: #57A5CF;
    background-image: url('/public/images/toastr/info.png'), linear-gradient(to top right, #57A5CF 0%, #6ab2d9 80%, #FFDCA5) !important;
    background-position: 10px center, center;
    z-index: 9999 !important;
    background-repeat: no-repeat;
}
/* Toastr Styling End */
