@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset all basic styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
